Repository iajun/bilibili: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, eslint --fix

refactor: remove reduntant codes of types and definitions
  config/webpack.config.base.js
  server/setAppEnv.js
  src/api/video.ts
  src/components/index.ts
  src/components/public/nav/data.ts
  src/components/public/nav/index.tsx
  src/components/public/videoItem/index.scss
  src/components/public/videoItem/index.tsx
  src/components/public/videoPanel/index.tsx
  src/pages/home/index.tsx
  src/pages/video/detail/index.tsx
  src/store/index.ts
  src/store/reducers/partition.ts
  typings/graphql.tsx
Due: stylelint --fix, eslint --fix

feat: writing animations of video play page
  api-server/api/url.js
  api-server/api/video.js
  api-server/lib/error.js
  api-server/routes/video.js
  package.json
  server/render/index.js
  src/api/url.ts
  src/api/video.ts
  src/entry-client.tsx
  src/model/video.ts
  src/pages/video/detail/index.scss
  src/pages/video/detail/index.tsx
  src/router/routes.ts
  src/store/action-types.ts
  src/store/actions.ts
  src/store/actions/index.ts
  src/store/actions/partition.ts
  src/store/actions/video.ts
  src/store/async-actions/.channel.ts.swp
  src/store/async-actions/channel.ts
  src/store/async-actions/currentVideo.ts
  src/store/async-actions/video.ts
  src/store/index.ts
  src/store/reducers.ts
  src/store/reducers/index.ts
  src/store/reducers/partition.ts
  src/store/reducers/video.ts
Due: stylelint --fix, eslint --fix

feat: complete video play page
  .gqlconfig
  .prettierignore
  .prettierrc
  .stylelintrc.js
  api-server/.eslintrc.js
  api-server/api/url.js
  api-server/api/video.js
  api-server/app/server.js
  api-server/lib/error.js
  api-server/lib/fetch.js
  api-server/lib/log.js
  api-server/lib/util.js
  api-server/package.json
  api-server/routes/video.js
  config/webpack.config.base.js
  package.json
  server/render/index.js
  src/api/url.ts
  src/api/video.ts
  src/components/public/videoItem/index.tsx
  src/components/public/videoPanel/index.tsx
  src/model/video.ts
  src/pages/video/detail/index.scss
  src/pages/video/detail/index.tsx
  src/pages/video/index.scss
  src/pages/video/index.tsx
  src/pages/video/player/index.scss
  src/pages/video/player/index.tsx
  src/router/routes.ts
  src/store/action-types.ts
  src/store/actions.ts
  src/store/async-actions/.channel.ts.swp
  src/store/async-actions/currentVideo.ts
  src/store/async-actions/video.ts
  src/store/reducers.ts
  src/util/numFormat.ts
  src/util/screen.ts
Due: stylelint --fix, eslint --fix

feat: complete channel page
  api-server/routes/video.js
  src/api/partition.ts
  src/api/video.ts
  src/components/public/header/index.tsx
  src/components/public/nav/index.scss
  src/components/public/nav/index.tsx
  src/components/public/videoItem/index.scss
  src/pages/channel/index.scss
  src/pages/channel/index.tsx
  src/router/routes.ts
  src/store/action-types.ts
  src/store/actions.ts
  src/store/async-actions/channel.ts
  src/store/async-actions/currentVideo.ts
  src/store/async-actions/home.ts
  src/store/async-actions/video.ts
  src/store/reducers.ts
  src/util/fetch.ts
  tsconfig.json
Due: stylelint --fix, eslint --fix

style: optimize server code
  api-server/api/partition.js
  api-server/api/video.js
  api-server/app/server.js
  api-server/lib/fetch.js
  api-server/lib/log.js
  api-server/package.json
  package.json
  src/api/video.ts
  src/assets/scss/layout.scss
  src/pages/channel/index.scss
  src/pages/channel/index.tsx
  src/pages/home/index.scss
  src/pages/home/index.tsx
  src/pages/video/index.scss
  src/pages/video/index.tsx
  src/pages/video/player/index.tsx
Due: stylelint --fix, eslint --fix

feat: add barrage api
  api-server/api/url.js
  api-server/api/video.js
  api-server/app/server.js
  api-server/lib/error.js
  api-server/lib/log.js
  api-server/package.json
  api-server/routes/video.js
  public/css/normalize.css
  src/api/url.ts
  src/api/video.ts
  src/components/public/nav/index.tsx
  src/model/video.ts
  src/pages/video/player/index.scss
  src/pages/video/player/index.tsx
Due: stylelint --fix, eslint --fix

fix: fix eslint
  src/pages/video/player/index.tsx
  src/store/actions.ts
Due: eslint --fix

feat: nav data and style
  config/env.dev.js
  config/env.prod.js
  config/webpack.config.base.js
  package.json
  src/components/public/header/index.tsx
  src/components/public/nav/data.ts
  src/components/public/videoItem/index.tsx
  src/pages/video/detail/index.tsx
  src/pages/video/player/index.tsx
Due: eslint --fix

fix: fix server default env
  api-server/lib/log.js
  server/app.js
  src/components/public/nav/data.ts
Due: eslint --fix

fix: change public url prefix conf to adapt to nginx
  config/env.prod.js
Due: none

fix: fix the animation of header
  src/components/public/nav/index.scss
  src/components/public/nav/index.tsx
Due: stylelint --fix

feat: add webp testing and support
  api-server/app/server.js
  dist.tar.gz
  server/render/index.js
  src/components/public/videoItem/index.tsx
  src/components/public/videoPanel/index.tsx
  src/entry-server.tsx
  src/pages/video/player/index.tsx
  src/util/getImageSuffix.ts
  typings/global.d.ts
Due: eslint --fix

fix: fix style
  src/pages/video/player/index.scss
  src/pages/video/player/index.tsx
Due: stylelint --fix

fix: fix style
  dist.tar.gz
  public/css/normalize.css
  server/render/index.js
  src/assets/scss/layout.scss
  src/components/public/header/index.tsx
Due: stylelint --fix

perf(webpack): optimize bundle size by removing locale files
  config/webpack.config.base.js
  config/webpack.config.client.js
Due: none

fix: fix api error
  api-server/api/partition.js
Due: none

fix: api change
  api-server/api/video.js
  api-server/lib/util.js
  api-server/routes/video.js
  src/api/video.ts
  src/model/video.ts
  src/pages/video/player/index.tsx
  src/store/actions.ts
  src/store/async-actions/currentVideo.ts
  src/store/async-actions/video.ts
Due: eslint --fix

Path conditions:
  stylelint --fix: any of: src/**/*.{css,scss}
  eslint --fix: (any of: gql-server/**/*.{ts,tsx}) or (any of: src/**/*.{ts, tsx})
